<launch>
  <arg name="legged_robot_scene" default="$(find mujoco_cpp)/model/kuavo/scene.xml"/>
    <param name="legged_robot_scene_param" value="$(arg legged_robot_scene)" />
  <node pkg="nodelet" type="nodelet" name="nodelet_mujoco" args="load MujocoNodelet nodelet_manager" respawn="false" output="screen" />
</launch>
