<?xml version="1.0" ?>
<launch>
    <!-- joy node -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0"/>
        <param name="autorepeat_rate" type="double" value="0.0"/>
        <param name="deadzone" type="double" value="0.01"/>
    </node>

    <node pkg="humanoid_interface_ros" type="humanoid_joy_control_with_arm" name="humanoid_joy_control_with_arm" output="screen"/>
</launch>
